  atm2ice_fmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_aave.130322.nc"
  atm2ice_fmaptype: "X"
  atm2ice_smapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_blin.130322.nc"
  atm2ice_smaptype: "X"
  atm2ice_vmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_patc.130322.nc"
  atm2ice_vmaptype: "X"
  atm2lnd_fmapname: "idmap"
  atm2lnd_fmaptype: "X"
  atm2lnd_smapname: "idmap"
  atm2lnd_smaptype: "X"
  atm2ocn_fmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_aave.130322.nc"
  atm2ocn_fmaptype: "X"
  atm2ocn_smapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_blin.130322.nc"
  atm2ocn_smaptype: "X"
  atm2ocn_vmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/fv1.9x2.5/map_fv1.9x2.5_TO_gx1v6_patc.130322.nc"
  atm2ocn_vmaptype: "X"
  atm2wav_smapname: "idmap"
  atm2wav_smaptype: "X"
  glc2ice_rmapname: "idmap"
  glc2ice_rmaptype: "X"
  glc2lnd_fmapname: "idmap"
  glc2lnd_fmaptype: "X"
  glc2lnd_smapname: "idmap"
  glc2lnd_smaptype: "X"
  glc2ocn_rmapname: "idmap"
  glc2ocn_rmaptype: "X"
  ice2atm_fmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/gx1v6/map_gx1v6_TO_fv1.9x2.5_aave.130322.nc"
  ice2atm_fmaptype: "X"
  ice2atm_smapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/gx1v6/map_gx1v6_TO_fv1.9x2.5_aave.130322.nc"
  ice2atm_smaptype: "X"
  ice2wav_smapname: "idmap"
  ice2wav_smaptype: "X"
  lnd2atm_fmapname: "idmap"
  lnd2atm_fmaptype: "X"
  lnd2atm_smapname: "idmap"
  lnd2atm_smaptype: "X"
  lnd2glc_fmapname: "idmap"
  lnd2glc_fmaptype: "X"
  lnd2glc_smapname: "idmap"
  lnd2glc_smaptype: "X"
  lnd2rof_fmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/lnd/clm2/mappingdata/maps/1.9x2.5/map_1.9x2.5_nomask_to_0.5x0.5_nomask_aave_da_c120522.nc"
  lnd2rof_fmaptype: "X"
  ocn2atm_fmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/gx1v6/map_gx1v6_TO_fv1.9x2.5_aave.130322.nc"
  ocn2atm_fmaptype: "X"
  ocn2atm_smapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/gridmaps/gx1v6/map_gx1v6_TO_fv1.9x2.5_aave.130322.nc"
  ocn2atm_smaptype: "X"
  ocn2wav_smapname: "idmap"
  ocn2wav_smaptype: "X"
  rof2lnd_fmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/lnd/clm2/mappingdata/maps/1.9x2.5/map_0.5x0.5_nomask_to_1.9x2.5_nomask_aave_da_c120709.nc"
  rof2lnd_fmaptype: "X"
  rof2ocn_fmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/cpl6/map_r05_TO_g16_aave.120920.nc"
  rof2ocn_fmaptype: "X"
  rof2ocn_ice_rmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/cpl6/map_r05_to_gx1v6_e1000r300_090226.nc"
  rof2ocn_ice_rmaptype: "X"
  rof2ocn_liq_rmapname: "/Users/rzabramoff/Documents/BigModels/cesm-inputdata/cpl/cpl6/map_r05_to_gx1v6_e1000r300_090226.nc"
  rof2ocn_liq_rmaptype: "X"
  wav2ocn_smapname: "idmap"
  wav2ocn_smaptype: "X"
