##################################################################
#
# seq_maps.rc
#
# This is a resource file which lists the names of mapping
# weight files to use in a sequential CCSM run (mapname).
# You can also set when data is rearranged in the mapping (maptype).
#
# This file is read during the map_model2model_init calls.
#
# For maptype:  X = Rearrange the input so that the output
#                   is on the correct processor.
#               Y = Rearrange the output and sum partial outputs
#                   if necessary
#
# NOTE:  For bfb on different processor counts, set all maptypes to "X".
################################################################## 
srfFileName: /home/mataylo/codes/mapping/grids/1x1d.nc
atmFileName: /gpfs1/elroesl/conusx4v1/conusx4v1.g_scrip.nc
landFileName: /projects/ccsm/inputdata/atm/cam/chem/trop_mozart/dvel/regrid_vegetation.nc
soilwFileName: /projects/ccsm/inputdata/atm/cam/chem/trop_mozart/dvel/clim_soilw.nc
srf2atmFmapname: /gpfs1/elroesl/conusx4v1/map_1x1_to_conusx4v1_aave.nc
srf2atmFmaptype: X
outputFileName: /projects/ccsm/inputdata/atm/cam/chem/trop_mam/atmsrf_conusx4v1.nc
